<div class="event">
    <%= link_to event do %>
        <h3><%= event.title %></h3>
    <%end%>
    <p>Created by: <%= get_user_by_id(event.user_id) %></p>
    <p><%= event.description%></p>
    <p>Is Private: <%= event.private %></p>
</div>